.displaycard{
    display: flex;
    background-color:#c2d9ee
}
.displaycard_item_left{
    width:30%;
    font-style: italic;
    font-weight: bolder;
    margin-left: 4px;
}
.displaycard_item_right{
    width:70%
}

.cat_Slider_img{
    width:95%;
    height: 200px;
    border-radius: 10px 20px;
    padding: 2px 2px;
}
.displaycard:hover{
    opacity: 0.8;

}
.displaycard button{
    position: absolute;
    bottom: 10%;
    width: 70px;
    height: 25px;
    background-color:#0275d8;
    border-radius: 15px 15px;
    outline: none;
    border: none;
}